@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  border-color: var(--border);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.dark {
  color-scheme: dark;
}