@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
  --card: #fff;
  --card-foreground: #171717;
  --popover: #fff;
  --popover-foreground: #171717;
  --primary: #030213;
  --primary-foreground: #fff;
  --secondary: #f5f5f5;
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #fff;
  --border: rgba(0, 0, 0, 0.1);
  --input: transparent;
  --ring: #a1a1aa;
  --radius: 0.625rem;
}

.dark {
  --background: #171717;
  --foreground: #fafafa;
  --card: #171717;
  --card-foreground: #fafafa;
  --popover: #171717;
  --popover-foreground: #fafafa;
  --primary: #fafafa;
  --primary-foreground: #171717;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1aa;
  --accent: #262626;
  --accent-foreground: #fafafa;
  --destructive: #7f1d1d;
  --destructive-foreground: #fca5a5;
  --border: #262626;
  --input: #262626;
  --ring: #525252;
}

* {
  border-color: var(--border);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
