@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  border-color: var(--border);
}

/* Default to dark mode until theme is determined */
html {
  background-color: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.dark {
  color-scheme: dark;
}